body {
  background-color: rgb(163, 163, 163);
  padding: 0% 5% 0% 5%;
  max-width: 1800px;
  margin: auto;
}

.wrapper {
  height: 700px;
}

.wrapperScatterPlot {
  height: 1000px;
}

.card {
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

#combo-box {
  width: 200px;
}

.chipWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  flex-wrap: wrap;
}

.paper {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.accordion {
  margin: -20px;
  margin-top: 20px;
  text-align: left;
  white-space: pre-line;
}

.slider {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
}

.copyright {
  padding: 100px;
  text-align: center;
}
